<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FizzBuzz web game</title>
</head>
<body>
<div class="container">
    <p>Enter a number between 10 and 100.</p>
    {% if errorMessage %}
        <p class="error-message">{{ errorMessage }}</p>
    {% endif %}

    <form action="/number" method='POST'>
        <label for="number">Enter number:</label><br>
        <input type="text" id="number" name="number" tabindex="0" autofocus><br>
        <input type="submit" value="Submit">
    </form>

    {% for result in result_stack %}
    <p class="fizbuzz">{{ result }}</p>
    {% endfor %}

</div>
</body>
</html>